body {
    margin: 0;
    padding: 0;
}
header img {
    border-radius: 50%;
    width: 150px;
}
aside {
    box-sizing: border-box;
    float: left;
    position: fixed;
    width: 30%;
}
aside header {
    margin: 0;
    padding: 20px 0 20px 0;
    line-height: 10px;
    text-align: center;
}
main {
    width: 70%;
    margin-left: 30%;
    background: url(images/paper.jpg) top left repeat-y;
    background-size: contain;
}
main section {
    padding: 25px;
}
main section h4 {
    line-height: 25px;
}
nav a {
    text-decoration: none;
    color: #111111;
    display: block;
}
nav a:hover {
    background-color: #d3b486;
}
nav a::visited {
    color: #111111;
}
nav a p {
    line-height: 50px;
    padding-left: 15px;
    margin: 0;
}
h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 24px;
}
h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
}
h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    padding-bottom: 15px;   
    margin: 0;
}
h4 {
    padding-left: 15px; 
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
    margin: 0;
}
h5 {
    padding-left: 15px;
    font-size: 16px;
    font-family: Consolas, monaco, monospace;
    font-weight: normal;
    margin: 0;
    line-height: 25px;
}
p {
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    padding-left: 15px;
    margin: 0;
}