body {
    background-color: #EEEEEE;
    font-family: sans-serif;
    width: 50%;
    margin: auto;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	font-size: 100%;
    background-color: #91A8D0;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
    background-color: #b7c0d0;
}

.light_div {
    background-color: #b7c0d0;
    margin: auto;
    width: 90%;
    padding: 10px;
    padding-left: 20px;
}

.dark_div {
    background-color: #91A8D0;
    padding: 1px;
    padding-left: 10px;
    width: 100%;
}

p {
    font-size: 16px;
}